body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 800px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-section {
  flex: 1;
  margin-right: 20px;
}

.table-section {
  flex: 1;
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ddd;
}

h1 {
  color: #333;
}

h2 {
  color: #333;
}

.input-number {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.btn {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
}

th, td {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: center;
}

.correct-status {
  background-color: #d4edda;
}

.incorrect-status {
  background-color: #f8d7da;
}

#correctButton {
  background-color: #28a745; /* Màu xanh lá cây */
  color: #fff;
}

#correctButton:hover {
  background-color: #218838; /* Màu xanh lá cây đậm hơn khi hover */
}

/* Nút đánh giá Sai */
#incorrectButton {
  background-color: #dc3545; /* Màu đỏ */
  color: #fff;
}

#incorrectButton:hover {
  background-color: #c82333; /* Màu đỏ đậm hơn khi hover */
}